.right-text{
    margin-left: 80px;
}

.left-text{
    margin-right: 80px;
}

.button-size{
    width: 40px;
    height: 40px;
}

.image-size{
    width: 90px;
    height: 140px;
}


ion-card-content{
    text-align: center;
}

.exit-button{
    margin-top: 10px;
    margin-left: 85%;
    height: 20px;
    width: 20px;
    float: right;
}

