.card-size{
    width: 350;
    height: 350;
}


.button-size{
    width: 40px;
    height: 40px;
}

ion-card-content{
    text-align: center;
}

.input-size{
    width: 200px;
    
}

.parcels{
    margin-left: 20px;
    width: 50px;
    height: 8px;
}

.img-size{
    width: 80px;
    height: 70px;
}

.exit-button{
    margin-top: 10px;
    margin-left: 85%;
    height: 20px;
    width: 20px;
    float: right;
}

.error-message {
    color: var(--ion-color-danger);
    font: 8px;
}

.delivery_button{
    height: 60px;
    width: 60px;
}

.input-size{
    width: 50px;
    text-align: center;
}

.line{
    width: 20%;
    color: black;
}

