.current_datetime{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.change_date{
   border-color: white;
   border-radius: 7px;
}
.change_time{
   border-radius: 7px;
   border-color: white;
}

ion-card{
    text-align: center;
}

ion-footer{
    text-align: center;
}