

.button-size{
    width: 40px;
    height: 40px;
}

.right-card{
    text-align: left;
}

.left-card{
    text-align: right;
}

.exit-button{
    margin-top: 10px;
    margin-left: 85%;
    height: 20px;
    width: 20px;
    float: right;
}

.spacing{
    margin-top: 15%;
}

.toast-container{
    text-align: center;
    margin-bottom: 30px;
    height: 200px;
}