.big-buttons{
    width: 150px;
    height: 150px;
    margin-left: 15px;

}

.bigfont{
    font-size: 40px;
}

.big-text{
    font-size: 15px;
}

.big-number{
    font-size: 50px;
    
}

.small-text{
    font-size: 8;
}

.OutboundCard{
    font-size: 20px;
}

.left{
    text-align: left;
}

.card-design{
    background-color: rgb(180, 168, 168);
    color: black;
}

.spacing{
    margin-bottom: -20px;
}

.cart-image{
    height: 138px;
    width: 138px;

}

.deliveryRecordSize{
    height: 100%;
    width: 100%;
    margin-top: -10px;
}

.big-text{
    font-size: 15px;
}


.heading{
    color: black;
    font-size: 12px;
}

.card-size{
    width: 100%;
    height: 120%;
}

.center{
    align-items: center;
}

.button-position{
    
    margin-top: 100px;
}
