.big-buttons{
    width: 150px;
    height: 150px;
    margin-left: 15px;

}

.bigfont{
    font-size: 40px;
}

.big-text{
    font-size: 15px;
}

.big-number{
    font-size: 50px;
    
}

.small-text{
    font-size: 8;
}
